/* SHARED STYLES */

header.hero_text {
    height: 30vh;
    background-color: #DFDFDF;
    text-align: center;
    padding-top: 3.8vh;
}

header h1 {
    font-family: "Playfair Display";
}

header h1:after {
    content: ' ';
    height: 5px;
    width: 11%;
    display: block;
    background-color: #A39C9C;
    margin: 2vh auto;
}

header h4 {
    font-family: "Montserrat";
    font-size: 0.9rem;
}

.wrapper_photo {
    height: calc(44vh/2);
    background-image: url('../img/landing/3ddesign.png');
    background-size: cover;
    background-position-y: 54%;
}

select[name="nav_dropdown"] {
    width: 35%;
    height: 7vh;
    border: none;
    background-color: #FF5757;
    padding: 1vh 1vh;
    color: #F0E5E5;
    font-family: "Montserrat";
    text-transform: uppercase;
    line-height: 5.4vh;
    font-size: 0.78rem;
    margin-top: 1.8vh;
    text-align: center;
}

option {
}

.wrapper_individual {
    height: 43vh;
    overflow-y: hidden;
    max-width: 80%;
    transition: 0.2s background-color ease-in, 0.3s height ease-in-out;
    margin: auto;
    margin-bottom: 6vh;
    background-color: #EFEFEF;
    border-radius: 2%;
    box-shadow: 0px 2px 5px 0px #898989;
    max-height: 200vh;
}

.wrapper_individual h2 {
    font-family: "Playfair Display";
    font-size: 1.3rem;
    height: 10vh;
    transition: 0.5s height ease-in-out;
    transition-delay: 0.4s;
    vertical-align: middle;
}

.wrapper_data {
    max-width: 87%;
    margin: auto;
    padding: 2.3vh 0;
}

.wrapper_individual h6 {
    font-family: "Montserrat";
    font-size: 0.8rem;
    display: block;
    height: 4vh;
    transition: 0.3s font-size ease-in-out;
}

.wrapper_individual p {
    /* display: none; */
    font-size: 0.8rem;
    font-family: "Montserrat";
}

h2 {}

.wrapper_individual h2:after {
    content: ' ';
    display: block;
    width: 93%;
    height: 1px;
    margin: 3.5vh -1px 2.6vh -1px;
    background-color: #CDCDCD;
    opacity: 1;
    transition: 0.4s opacity ease-in 1.4s;
}

.wrapper_individual:active {
    background-color: #D2D2D2;
}

.wrapper_expand {
    height: 97vh;
}

/*STYLES SPECIFIC TO TEAM MOBILE PAGE*/

section.wrapper_team {
    padding: 9vh 0;
    height: auto;
}

h2.pseudo-remove {
    height: 6.5vh;
}

h2.pseudo-remove:after {
    display: none;
    opacity : 0;
}

h6.h6-shrink {
    color: #919191;
    font-size: 0.7rem;
}

.wrapper_individual p:before {
    content: ' ';
    display: block;
    width: 100%;
    margin: 2.5vh 0 3.5vh 0;
    height: 1px;
    background-color: #C7C7C7;
}
    .wrapper_expand.wrapper_individual:nth-child(1){
    height: 93vh;
    }
    .wrapper_expand.wrapper_individual:nth-child(2){
    height: 84vh;
    }
    .wrapper_expand.wrapper_individual:nth-child(3){
    height: 68vh;
    }
    .wrapper_expand.wrapper_individual:nth-child(4){
    height: 110vh;
    }
    .wrapper_expand.wrapper_individual:nth-child(5){
    height: 84vh;
    }
    .wrapper_expand.wrapper_individual:nth-child(6){
    height: 51vh;
    }
