/* SHARED STYLES */

header.hero_text {
    height: 34vh;
    background-color: #DFDFDF;
    text-align: center;
    padding-top: 5.8vh;
    position: relative;
}

header h1 {
    font-family: "Playfair Display";
    font-size: 1.9rem;
}

header h1:after {
    content: ' ';
    height: 5px;
    width: 11%;
    display: block;
    background-color: #A39C9C;
    margin: 2.6vh auto;
}

header h4 {
    font-family: "Montserrat";
    font-size: 0.9rem;
}

.wrapper_photo {
    height: calc(44vh/2);
    background-size: cover;
    background-position-y: 37%;
    background-size: 100%;
    transition: 0.4s ease-in-out;
}

select[name="nav_dropdown"] {
    width: 35%;
    height: 7vh;
    border: none;
    background-color: #FF5757;
    padding: 1vh 1vh;
    color: #F0E5E5;
    font-family: "Montserrat";
    text-transform: uppercase;
    line-height: 5.4vh;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}

option {
}

.wrapper_individual {
    max-height: 43.9vh;
    overflow-y: hidden;
    max-width: 80%;
    overflow-x: hidden;
    transition: 0.2s background-color cubic-bezier(0.44, -0.03, 0.75, 0.72), 0.3s max-height ease-in-out;
    margin: auto;
    margin-bottom: 6vh;
    background-color: #EFEFEF;
    border-radius: 2%;
    box-shadow: 0px 2px 5px 0px #898989;
}

.wrapper_individual h2 {
    font-family: "Playfair Display";
    font-size: 1.2rem;
    height: 9.2vh;
    transition: 0.5s height ease-in-out;
    transition-delay: 0.4s;
    font-weight: 300;
    vertical-align: middle;
    margin-top: 1.7vh;
    padding-top: 0.5vh;
}

.wrapper_data {
    max-width: 87%;
    margin: auto;
    padding: 2.3vh 0;
    text-align: center;
}

.wrapper_individual h6 {
    font-family: "Montserrat";
    font-size: 0.8rem;
    display: block;
    height: 4vh;
    transition: 0.3s font-size ease-in-out;
    color: #6B6B6B;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.wrapper_individual p {
    /* display: none; */
    font-size: 0.8rem;
    font-family: "Montserrat";
}

h2 {}

.wrapper_individual h2:after {
    content: ' ';
    display: block;
    width: 93%;
    height: 1px;
    margin: 2.4vh auto 2.3vh auto;
    background-color: #CDCDCD;
    opacity: 1;
    transition: 0.4s opacity ease-in 1.4s;
}

.wrapper_individual:active {
    background-color: #D2D2D2;
}

.wrapper_expand {
    max-height: 120vh;
}

/*STYLES SPECIFIC TO TEAM MOBILE PAGE*/

section.wrapper_team {
    padding: 3.7vh 0 6vh 0;
    height: auto;
    transform: translateZ();
    transition: 0.3s opacity ease-in, 0.4s transform cubic-bezier(0.15, 0.62, 0.4, 0.95);
}

h2.pseudo-remove {
    height: 6.5vh;
}

h2.pseudo-remove:after {
    display: none;
    opacity : 0;
}

h6.h6-shrink {
    color: #919191;
    font-size: 0.7rem;
}

.wrapper_individual:nth-child(1) .wrapper_photo {
  background-image: url('../img/people/muzzi.jpg');
}
.wrapper_individual:nth-child(2) .wrapper_photo {
  background-image: url('../img/people/tariq.jpg');
}
.wrapper_individual:nth-child(3) .wrapper_photo {
  background-image: url('../img/people/jazib.jpg');
}
.wrapper_individual:nth-child(4) .wrapper_photo {
  background-image: url('../img/people/muzzaf.jpg');
}
.wrapper_individual:nth-child(5) .wrapper_photo {
  background-image: url('../img/people/lopez.jpg');
}
.wrapper_individual:nth-child(6) .wrapper_photo {
    background-image: url('../img/people/booty.png');
    background-position-y: 10%;
}

.wrapper_individual p:before {
    content: ' ';
    display: block;
    width: 100%;
    margin: 2.5vh 0 3.5vh 0;
    height: 1px;
    background-color: #C7C7C7;
}

    .wrapper_individual:nth-child(1){
        z-index : 1;
        }
            .wrapper_individual:nth-child(2){
        z-index : 2;

        }
            .wrapper_individual:nth-child(3){
        z-index : 3;

        }
            .wrapper_individual:nth-child(4){
        z-index : 4;

        }
            .wrapper_individual:nth-child(5){
        z-index : 5;

}
            .wrapper_individual:nth-child(6){
        z-index : 6;

        }

    span.selected {
    height: 25%;
    display: block;
    color: #eee;
    background-color: #FF7C7C;
    z-index: 81;
    position: relative;
    letter-spacing: 0.5px;
    overflow: hidden;
}

.selectBox {
    width: 50%;
    margin: auto;
    height: 33vh;
    position: absolute;
    line-height: calc(32VH/4);    font-family: "Montserrat";    text-transform: uppercase;    font-size: 0.9rem;
    z-index: 5;
    top: 133%;
    left: 50%;
    transform: translate(-50%,-50%);
}

span.selectArrow {
    position: absolute;
    top: 0;
    left: 91%;
    color: #eee;
    transform: translate(-50%, 0%);
    z-index: 91;
}

.selectOptions {
    height: 75%;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-8vh);
    background-color: #eee;
    z-index: 76;
    position: relative;
    transition: 0.4s transform ease-in-out, 0.3s opacity ease-in;
    display: flex;
}

span.selectOption {
    height: 100%;
    /* flex-grow: 2; */
    z-index: 100;
    position: relative;
}

span.selectOption:after {
    width: 0%;
    height: 1px;
    background-color: #F98484;
    display: block;
    content: ' ';
    margin: auto;
    transition: 1s width cubic-bezier(0.13, 0.32, 0.47, 0.97) 0.3s;
}

span.selectOption:last-child:after {
    content: initial;
}

.dropTrigger {
    transform: translateY(0);
    opacity: 1;
}

.wrapper-hide {
    opacity:0;
}
span.wrapper_instructions {
    text-align: center;
    display: block;
    z-index: 3;
    margin-top: 7vh;
    color: rgba(255, 124, 124, 0.61);
    font-family: "Montserrat";
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 300;
    animation: circleAnimation cubic-bezier(0.18, 0.68, 0.27, 0.9) 4s;
    animation-iteration-count: infinite;
    position: relative;
}

.wrapper_expand .wrapper_photo {
    height: calc(56vh/2);
}

.wrapper_instructions i.circle-outer {
    padding: 0 8px;
    position: relative;
    font-size: 0.8rem;
}

.circle-animate {
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   font-size: 0.4rem;

}
@keyframes circleAnimation{
  0% {
    opacity:0.4;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity:0.4;
  }
}
.wrapper_expand .wrapper_data {
    text-align: left;
}

.dropTrigger .selectOption:after {
    width: 62%;
}

